{% extends 'base/base.html' %} {% load static %} {% block body %}

        <!-- content begin -->
        <div class="no-bottom no-top" id="content">

            <div id="top"></div>

            <section id="subheader" class="relative jarallax text-light">
                <img src="{% static 'images/background/6.webp' %}" class="jarallax-img" alt="">
                <div class="container relative z-index-1000">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 text-center">
                            <h1>About Us</h1>
                        </div>
                        <ul class="crumb pt-5 text-center">
                            <li><a href="/">Home</a></li>
                            <li class="active">About Us</li>
                        </ul>
                    </div>
                </div>
                <div class="de-overlay"></div>
            </section>

            <!-- who we are -->
            <section class="relative ">
                <div class="container">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6">
                            <h2 class="wow fadeInUp" data-wow-delay=".2s">Why Clients Trust Us?</h2>
                            <p>Buying or selling property is never just a financial transaction. For most people, it’s a deeply personal milestone, full of commitment and hope. At Paarth Promoters Realty, we understand that every client comes to us with a unique dream, investment goal, and concerns. Hence, we go beyond property listings - we listen to you. <br><br> We are seasoned Real Estate Consultants, but we work for You! We offer you clarity on all the doubts you have answer all your questions with honesty and patience. We do not consider ourselves ‘salespeople’. We act as Your Trusted Advisors. When it comes to buying and selling properties, we are your representatives. </p>
                            <p>We have built our reputation as one of the most dependable Property Consultants in Delhi/NCR carefully, only through word-of-mouth till now. Repeat clients and relationships nurtured over the years constitute 82% of our business!
                                We believe good real estate advice comes from experience, and our team brings just that.
                                </p>
                        </div>

                        <div class="col-lg-6">
                            <div class="row g-4">
                                <div class="col-6">
                                    <img src="{% static 'images/about/about1.jpeg' %}"
                                        class="img-fluid mb-3 wow zoomIn rounded-20 w-100 h-25 shadow-soft" alt="">
                                    <div class="col-12 text-center">
                                        <img src="{% static 'images/about/h6.png' %}"
                                            class="img-fluid  wow zoomIn rounded-20 w-100 h-100 shadow-soft" alt="">

                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="spacer-single sm-hide"></div>
                                    <div class="col-12 text-center">
                                        <img src="{% static 'images/about/h5.png' %}"
                                            class="img-fluid wow zoomIn rounded-20 w-100 h-100 shadow-soft" alt="">

                                    </div>
                                    <img src="{% static 'images/about/h3.png' %}"
                                        class="img-fluid mt-3 wow zoomIn rounded-20 w-100 h-25 shadow-soft" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="py-2">
                <div class="container text-center">

                    <h2 class="wow fadeInUp" data-wow-delay=".2s">Why InvestInEstates?</h2>
                    <div class="subtitle wow fadeInUp mb-3">// Smarter Real Estate. Zero Brokerage. Total Peace
                        of Mind.</div>
                    <div class="row g-4">
                        <div class="col-md-4">
                            <div class="border rounded-4 h-100 rounded-5 shadow wow fadeInUp" data-wow-delay=".2s" style="padding:40px 20px; background: linear-gradient(135deg, rgb(234 222 252), #ffffff)">
                                <h3 class="text-center fs-3 mb-3">Zero Brokerage. Real Savings.</h3>
                                <p style="font-size:18px">Say goodbye to hidden commissions. At InvestInEstates, we offer 0% brokerage on every
                                    deal—helping you save 3–5% on property costs compared to traditional agents. The
                                    price
                                    you see is the price you pay.</p>
                            </div>
                        </div>
                        <!-- Column 1 -->
                        <div class="col-md-4">
                            <div class="border rounded-4 h-100 rounded-5 shadow wow fadeInUp" data-wow-delay=".4s" style="padding:40px 20px; background-color: #fef6f0;">
                                <h3 class="text-center fs-3 mb-3">End-to-End Assistance</h3>
                                <ul class="list-unstyled ps-3" style="font-size:18px">
                                    <li>Property shortlisting based on your goals</li>
                                    <li>Home loan and financing assistance</li>
                                    <li>Paperwork and legal documentation</li>
                                    <li>Interior design referrals and home setup services</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Column 2 -->
                        <div class="col-md-4">
                            <div class="border rounded-4 h-100 rounded-5 shadow wow fadeInUp" data-wow-delay=".6s" style="padding:40px 20px; background-color: #f5f5f5;">
                                <h3 class="text-center fs-3 mb-3">Curated & Verified Projects</h3>
                                <ul class="list-unstyled ps-3" style="font-size:18px">
                                    <li>Legally verified</li>
                                    <li>Strategically located</li>
                                    <li>Backed by exclusive deals and early-bird access</li>
                                    <li>Spread across fast-growing cities and locations like Noida, Greater
                                        Noida, and the Yamuna Expressway</li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </section>


            <!-- our mission -->
            <section class=" no-top no-bottom overflow-hidden mt-5 pt-1 mb-5 icon">
                <div class="container-fluid position-relative half-fluid">
                    <div class="container mt-3">
                        <div class="row g-4">
                            <div class="col-lg-8 offset-lg-2 text-center">
                                <h2 class="wow fadeInUp pb-2 mb-4">Our Mission</h2>
                            </div>
                        </div>

                        <div class="row mt-1">

                            <div class="col-lg-6 rounded-20 mission ">
                                <div class="relative">
                                    <div class="image rounded-20 shadow-soft"
                                        data-bgimage="url({% static 'images/about/abt1.png' %}) center">
                                    </div>
                                    <div class="gradient-trans-black-bottom abs w-100 h-100 borR-20"
                                        style="bottom: 0px;"></div>
                                </div>
                            </div>


                            <div class="col-lg-6">
                                <h2 class="wow fadeInUp" data-wow-delay=".2s">Real Expertise. Real Service. Real Returns.</h2>
                                <div class="row">
                                    <div class="col-lg-6">

                                        <p><i class="fa-solid fa-circle-check"></i> To deliver verified property options aligned with each client’s financial goals.</p>
                                    </div>
                                    <div class="col-lg-6">

                                        <p>
                                            <i class="fa-solid fa-circle-check"></i> To offer insight-driven advice that goes beyond sales.
                                        </p>
                                    </div>
                                    <div class="col-lg-6">
                                        <p>
                                            <i class="fa-solid fa-circle-check"></i> To redefine how trust is built in the real estate ecosystem through integrity, analysis, and end-to-end support.
                                        </p>
                                    </div>
                                    <div class="col-lg-6">
                                        <p>
                                            <i class="fa-solid fa-circle-check"></i> Creating spaces that inspire
                                            and elevate the everyday experience for residents.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </section>

            <!-- our vission -->
            <section class=" no-top no-bottom overflow-hidden mt-5 pt-1 mb-5 icon">
                <div class="container-fluid position-relative half-fluid">
                    <div class="container mt-3 fadeInUp">
                        <div class="row g-4">
                            <div class="col-lg-8 offset-lg-2 text-center">
                                <h2 class="wow fadeInUp pb-2 mb-5">Our Vision</h2>

                            </div>
                        </div>

                        <div class="row m-1">
                            <!-- Text -->
                            <div class="col-lg-6 visionTXT">
                                <h2 class="wow fadeInUp" data-wow-delay=".2s">To be the most preferred property consultants in Delhi/NCR.</h2>
                                <div class="row">
                                    <div class="col-lg-6 ">

                                        <p class="fadeInUp" data-wow-delay=".3s"><i
                                                class="fa-solid fa-circle-check"></i> Empower homebuyers and investors with clarity, convenience, and confidence.</p>
                                    </div>
                                    <div class="col-lg-6 ">

                                        <p class="fadeInUp" data-wow-delay=".3s">
                                            <i class="fa-solid fa-circle-check"></i> Become the go-to name for real estate consultancy across Noida, Greater Noida & Yamuna Expressway.
                                        </p>
                                    </div>
                                    <div class="col-lg-6 ">
                                        <p class="fadeInUp" data-wow-delay=".3s">
                                            <i class="fa-solid fa-circle-check"></i> Offer curated property options that are not just beautiful, but profitable.
                                        </p>
                                    </div>
                                    <div class="col-lg-6 ">
                                        <p class="fadeInUp" data-wow-delay=".3s">
                                            <i class="fa-solid fa-circle-check"></i> Creating spaces that inspire
                                            and elevate the everyday experience for residents.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Image -->
                            <div class="col-lg-6 rounded-20 mission visionIMG">
                                <div class="relative">
                                    <div class="image rounded-20 shadow-soft"
                                        data-bgimage="url({% static 'images/about/mission.jpg' %}) center">
                                    </div>
                                    <div class="gradient-trans-black-bottom abs w-100 h-100 borR-20"
                                        style="bottom: 0px;"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </section>

            <!-- two cards extra's -->
            <section class="py-5 overflow-hidden">
                <div class="container">
                    <div class="row justify-content-center align-items-stretch g-4">

                        <!-- Card 1 -->
                        <div class="col-lg-6 col-md-6 col-12 text-center">
                            <div class="card border rounded-5 shadow-sm p-5 h-100 text-light"
                                style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url({% static 'images/about/mission.jpg' %});background-size: cover;background-position: center;background-repeat: no-repeat;">
                                <h2 class="mb-3 text-light" style="font-size: 40px;">
                                    For First-Time Buyers & Global Investors
                                </h2>
                                <p>Whether you're:</p>
                                <div class="items">
                                    <ul class="list-unstyled text-light">
                                        <li><i class="fa-solid fa-check"></i> A first-time homebuyer</li>
                                        <li><i class="fa-solid fa-check"></i> An NRI looking to invest in India</li>
                                        <li><i class="fa-solid fa-check"></i> A seasoned investor seeking growth</li>
                                    </ul>
                                </div>
                                <p>
                                    Our consultants ensure your decision is smart, safe, and future-ready.
                                </p>
                            </div>
                        </div>

                        <!-- Card 2 -->
                        <div class="col-lg-6 col-md-6 col-12 text-center">
                            <div class="card border rounded-5 shadow-sm p-5 h-100">
                                <h2 class="mb-3" style="font-size: 40px;">
                                    The InvestInEstates Promise
                                </h2>
                                <p>When you choose us, you’re choosing:</p>
                                <ul class="list-unstyled text-center">
                                    <li><i class="fa-solid fa-check"></i> Transparency over pressure</li>
                                    <li><i class="fa-solid fa-check"></i> Expertise over assumptions</li>
                                    <li><i class="fa-solid fa-check"></i> Clarity over confusion</li>
                                </ul>
                                <p>
                                    With InvestInEstates, you’re not just buying a property—you’re making an informed,
                                    stress-free investment in your future.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>
        <!-- content close -->
{% endblock %}