{% extends 'base/base.html' %} {% load static %} {% block body %}

        <!-- content begin -->


        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            <section id="subheader" class="relative jarallax text-light">
                <img src="{% static 'images/background/cbann.png' %}" class="jarallax-img" alt="">
                <div class="container relative z-index-1000">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 text-center">
                            <h1 class="fw-500">Contact Us</h1>
                            <p class="lead mt-3 fw-500">
                                At Nirantar Realty, we specialise in premium builder floors in Faridabad’s most established residential sectors. Since 2006, we have been guiding homebuyers and investors with clarity, discipline, and fair dealing.
                            </p>
                            <ul class="crumb">
                                <li><a href="/">Home</a></li>
                                <li class="active">Contact Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="de-overlay-2"></div>
            </section>
            
                    <!-- our contact -->
                    <section class="contact_us shadow-soft">
                        <div class="container-fluid contact">
                            <div class="row">
                                <div class="col-lg-4 leftpro">
                                    <div class="elemt rounded-20 shadow">
                                        <div class="text-div">
                                            <p>Contact Form <i class="fa-solid fa-arrow-right"></i></p>
                                            <p>Contact Form <i class="fa-solid fa-arrow-right"></i></p>
                                        </div>
                                    </div>
                                    <h2 class="touch">Get In Touch</h2>
                                    <p><span>B</span>uying property is rarely just a financial transaction. For most families, purchasing a home is a milestone built on years of savings, careful planning, and long-term expectations. At Nirantar Realty, we recognise that responsibility and treat every property decision with the seriousness it deserves.</p>
                                    <h3>Our Office</h3>
                                        <div class="bg-light hover relative text-center wow fadeInUp" data-wow-delay=".3s">
                                            <div class="relative overflow-hidden rounded-10 shadow-soft"  style="height: 50vh!important; object-fit: contain;">
                                                <!-- <a href="city.html"> -->
                                                <div class="absolute start-0 w-100 abs-middle fs-36 text-white text-center z-2">
                                                    <h4 class="mb-0 hover-scale-in-3">Faridabad</h4>
                                                </div>
                                                <img src="{% static 'images/gallery/banglore.webp' %}"
                                                class="img-fluid hover-scale-1-2 h-100 w-100 " alt="" >
                                                <div class="gradient-trans-black-bottom abs w-100 h-100 " style="bottom: 0px;">
                                                </div>
                                            <!-- </a> -->
                                            </div>
            
                                        </div>
                                </div>
                                <div class="col-lg-8">
                                 
                                    <div class="contact_inner shadow-soft">
                                        <div class="row">
                                            <div class="col-md-10">
                                             
                                                <div class="contact_form_inner">
                                                    <div class="contact_field">
                                                        <h3>Contact Us</h3>
                                                        <p>Feel Free to contact us any time. We will get back to you as soon as we can!.</p>
                                                        <form action="{% url 'contact' %}" method="post" class="contact_form">
                                                            {% csrf_token %}
                                                            <input type="text" name="name" class="form-control form-group" placeholder="Enter Your Name" required />
                                                            <input type="email" name="email" class="form-control form-group" placeholder="Enter your Mail" required />
                                                            <input type="tel" name="mobile" class="form-control form-group" placeholder="Enter your Mobile Number" required />
                                                            <textarea class="form-control form-group" name="message" placeholder="Message" required></textarea>
                                                            <button class="contact_form_submit" type="submit">
                                                                <div class="sendbtn">
                                                                    <p>send</p>
                                                                    <p>send</p>
                                                                </div>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="play-now fixed" style="top:0px!important;">
                                                    <svg
                                                      xmlns="http://www.w3.org/2000/svg"
                                                      xmlns:xlink="http://www.w3.org/1999/xlink"
                                                      width="300px"
                                                      height="300px"
                                                      viewBox="0 0 300 300"
                                                    >
                                                      <defs>
                                                        <path
                                                          id="circlePath"
                                                          d="M 150,150 m -60, 0 a 60,60 0 1,1 120,0 a 60,60 0 1,1 -120,0"
                                                        />
                                                      </defs>
                                                      <g>
                                                        <use xlink:href="#circlePath" fill="none" />
                                                        <text>
                                                          <textPath href="#circlePath" startOffset="0%">
                                                            Nirantar Realty - Contact Us - Nirantar Realty Luxury -
                                                          </textPath>
                                                        </text>
                                                      </g>
                                                    </svg>
                                                  </div>
                                                <div class="right_conatct_social_icon d-flex align-items-end">
                                                    
                                                   <div class="socil_item_inner d-flex">
                                                      <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                                                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                   </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contact_info_sec shadow-soft">
                                            <h4>Contact Info</h4>
                                            <div class="d-flex info_single align-items-center">
                                                <i class="fas fa-headset"></i>
                                                <span>+91 9811851155</span>
                                            </div>
                                            <div class="d-flex info_single align-items-center">
                                                <i class="fas fa-envelope-open-text"></i>
                                                <span>nirantarrealty@gmail.com</span>
                                            </div>
                                            <div class=" info_single align-items-center">
                                                <i class="fas fa-map-marked-alt"></i>
                                                <span>Shop No. 1, First Floor, Krishna Palace, Sector 20 B, Faridabad – 121001, India</span>
                                            </div>
                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                    <section class="map_sec shadow-soft">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="map_inner text-center">
                                        <h2 class="fw-600">Find Us on Google Map</h2>
                                        <div class="map_bind ">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14038.293952025433!2d77.29038541628474!3d28.401947489207377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cdc4a72f03281%3A0x69a338914c599e9a!2sSector%2020B%2C%20Haryana!5e0!3m2!1sen!2sin!4v1773198667855!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" ></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                
        </div>
        <!-- content close -->
{% endblock %}