{% extends 'base/base.html' %} {% load static %} {% block body %}

<!-- content begin -->
<div class="no-bottom no-top" id="content">

    <div id="top"></div>
    <section id="subheader" class="relative jarallax text-light">
        <img src="{% static 'images/background/6.webp' %}" class="jarallax-img" alt="">
        <div class="container relative z-index-1000">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h1>Privacy Policy</h1>
                </div>
                <ul class="crumb pt-5 text-center">
                    <li><a href="/">Home</a></li>
                    <li class="active">Privacy Policy</li>
                </ul>
            </div>
        </div>
        <div class="de-overlay"></div>
    </section>



    <!-- section begin -->

    <!-- Calculator start -->
    <section class=" section bg-dark pt-5 pb-5">
        <div class="container">


            <p class="calDis  wow fadeInUp" style="padding-top:10px; text-align:justify; line-height:24px;"
                data-wow-duration="4s"><span>Welcome :</span>
                Your privacy is one of our main priorities. This Privacy Policy document contains types of information that are collected and recorded by us and how we use it.
            </p>
            <p class="calDis  wow fadeInUp" style="padding-top:10px; text-align:justify; line-height:24px;"  data-wow-duration="1s">
                <span>Information We Collect : </span> We collect both personal and non-personal information when
                you visit our website, including but not limited to:
            <ul class="wow fadeInUp" data-wow-duration="1s">
                <li> Name, email address, and contact number (when submitted via forms)</li>
                <li> Property preferences or inquiries</li>
                <li> Location data (via IP or browser-based)</li>
                <li> Usage data such as pages visited, time spent, and interaction behavior</li>
            </ul>  </p>
            <p class="calDis  wow fadeInUp" style="padding-top:10px; text-align:justify; line-height:24px;"  data-wow-duration="0.8s">
                <span>How We Use Your Information : </span>We use the information we collect in the following ways:
            <ul style="list-style: disc;">
                <li>To provide, operate, and maintain our website</li>
                <li>To improve, personalize, and expand our services</li>
                <li>To respond to your inquiries and provide customer support</li>
                <li>To send periodic emails related to properties or updates (only if you opt in)</li>
            </ul>  </p>
            <p class="calDis  wow fadeInUp" style="padding-top:10px; text-align:justify; line-height:24px;"
                data-wow-duration="1s"><span>Privacy
                    Policy :</span> In our endeavor and commitment of
                protecting your personal information, we have designed this comprehensive privacy policy. This
                is to keep your interests and information safe on our website. </p>
            <p class="calDis  wow fadeInUp" style="padding-top:10px; text-align:justify; line-height:24px;"
                data-wow-duration="2s"><span>Updation of
                    privacy policy :</span> This privacy policy is subject to
                undergo change and review without any prior notice or approval. So to keep yourself updated on
                the changes introduced, please keep visiting and reviewing the terms and conditions of this
                privacy policy. </p>
            <p class="calDis  wow fadeInUp" style="padding-top:10px; text-align:justify; line-height:24px;"
                data-wow-duration="3s"><span>User
                    information :</span> By using our website, you agree to abide by the rules laid out by us
                and
                consent to collection and use of all such information that you may furnish to, or through, our
                website. In some cases, while you visit our website, you may not need to provide any personal
                information. But in certain instances, we must have your personal information in order for us to
                grant you access to some of the links or sites. Such links/ pages may ask for your name, e-mail
                address, phone number etc. The information furnished by you is used to provide relevant products
                and services and to acknowledge receipt of your communication or to send out information and
                updates to you. You have option of requesting removal from our mailing list. We do not give away
                your personal information to any third party.</p>
            <p class="calDis  wow fadeInUp" style="padding-top:10px; text-align:justify; line-height:24px;"
                data-wow-duration="3s"><span>Security
                    :</span> To ensure security while transferring sensitive
                information, all the ongoing transmissions between client and server are encrypted using
                advanced and standard protocols. We also practice restricted access by employees and hold them
                to high levels of confidentiality.</p>
            <p class="calDis  wow fadeInUp" style="padding-top:10px; text-align:justify; line-height:24px;"
                data-wow-duration="4s"><span>Use of cookies:</span>
                We may use cookies for security, session continuity, and customization purposes. In case of a
                user opting to reject a cookie, he/ she may not be able to gain access to some of the limited
                services or use some features of the site.
                In case of any queries or suggestions regarding privacy statement or your dealings with this web
                site, please contact: </p>
            <p class="calDis  wow fadeInUp" style="padding-top:10px; text-align:justify; line-height:24px;"
                data-wow-duration="4s"><span>Changes to This Privacy Policy :</span>
                We may update this policy from time to time. All changes will be posted on this page with an updated effective date.

            </p>
            
        </div>
    </section>
    <!-- Calculator end -->
    <!-- section close -->


</div>

{% endblock %}